body {
  background-color: #ffede3;
  background-image: url("/Images/Paper.jpg");
  margin: 0; /* Asegúrate de que no haya margen predeterminado */
}

.navbar {
  background-color: #f2231f;
}

.sidebar {
  background-color: #f2231f;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0; /* La barra lateral se pegará en la parte superior cuando se desplace */
  height: calc(100vh); /* Altura de la pantalla menos la altura de la navbar */
  overflow-y: auto; /* Añadir scroll si el contenido de la barra lateral es mayor que la altura disponible */
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.sidebar a:hover {
  background-color: #ff4c3b;
}

#cart-count {
  background-color: #f2231f;
}

.card {
  margin: 15px 0;
}

.card img {
  height: 200px;
  object-fit: cover;
}

#notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.btn-agregar-carrito {
  background-color: #f2231f;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-agregar-carrito:hover {
  background-color: darkred;
  color: white;
}

.main-content {
  text-align: center; /* Esto centrará el contenido horizontalmente */
}

.input-quantity{
  max-width: 60px;
}

#total-container {
  background-color: #ff4c3b;
  max-width: 300px;
  padding: 10px; /* Agregar un espacio interno de 10px al contenedor */
  border-radius: 8px; /* Hacer las esquinas redondeadas */
}

#total-container p {
  margin-right: 10px; /* Agregar un espacio a la derecha del texto "Total a pagar" */
  font-weight: bold; /* Hacer el texto en negrita */
  font-size: 16px; /* Aumentar el tamaño del texto */
}

#total-amount {
  font-weight: bold; /* Hacer la cantidad en negrita */
  font-size: 16px; /* Aumentar el tamaño de la cantidad */
}

#pagar-btn {
  margin-left: 10px; /* Agregar un espacio a la izquierda del botón "Pagar" */
}
